<div class="container">
  <h3 class=" text-center">Messaging</h3>
  <div *ngIf="userInfo" class="signin-user">{{userInfo.nickname}}, <a (click)="logout()">Logout</a></div>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Users</h4>
          </div>
        </div>
        <div class="inbox_chat" *ngIf="users && users.length">
          <div class="chat_list active_chat" *ngFor="let user of users">
            <div *ngFor="let member of user.members">
              <div *ngIf="member.userId !== userInfo.userId" [ngClass]="(selectedUser && member.userId === selectedUser.userId) ? 'chat_people active-user':'chat_people'" (click)="chatWithUser(user)">
                <div class="chat_img"> <img [src]="user.coverUrl === '' ? 'https://ptetutorials.com/images/user-profile.png': user.coverUrl" [alt]="user.url"> </div>
                <div class="chat_ib">
                  <h5>{{member.nickname}}</h5>
                </div>
                <div [ngClass]="(member.connectionStatus.toUpperCase() === 'ONLINE') ? 'user-online':'user-offline'" class="user-online"></div>
                <div class="unread-message" *ngIf="user.unreadMessageCount"> {{user.unreadMessageCount}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="active-msg-box" *ngIf="selectedUser === null">
        <label>Select User</label>
        <div class="mesgs">
          <img src="../../assets/msg-icon.png"/>
        </div>
      </div>
      <div *ngIf="selectedUser">
        <div class="active-msg-box">
          <label class="select-user">{{ selectedUser.nickname }}</label>
          <label class="last-seen">{{ (selectedUser.connectionStatus.toUpperCase() ==='ONLINE' && selectedUser.lastSeenAt === 0) ? 'Online' : 'Last Seen:' + getMessageTime(selectedUser.lastSeenAt) }}</label>
        </div>
        <div class="mesgs">
          <div class="msg_history" #scrollMe>
            <div *ngIf="messages.length">
              <div *ngFor="let message of messages">
                <app-message *ngIf="checkSenderAndReceiver(message)" [message]="message" [userInfo]="userInfo"></app-message>
              </div>
            </div>
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" class="write_msg" placeholder="Type a message" [(ngModel)]="userMsg" (keyup.enter)="sendMessage(userMsg)" />
              <button class="msg_send_btn" type="button" (click)="sendMessage(userMsg)"><i class="fa fa-paper-plane-o"
                  aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
